# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

Server/node_modules
Server/config.js
.vs/PortfolioWebsite/FileContentIndex/769dfc7d-df58-49cd-b159-04129a50f05c.vsidx
.vs/PortfolioWebsite/FileContentIndex/d656ce0d-f9ed-4462-a1ea-9601fd74ab58.vsidx
.vs/slnx.sqlite
